<form [formGroup]="enrollForm" (ngSubmit)="onSubmit()">

  <label>
    Student Name
    <input formControlName="studentName" />
  </label>

  <label>
    Student Email
    <input formControlName="studentEmail" />
  </label>

  <label>
    Course Id
    <input formControlName="courseId" />
  </label>
  <span *ngIf="enrollForm.get('courseId')?.errors?.['noCourseCode']">Course code starting with XX is not allowed.</span>

  <label>
    Preferred Semester
    <select formControlName="preferredSemester">
      <option value="Odd">Odd</option>
      <option value="Even">Even</option>
    </select>
  </label>

  <label>
    <input type="checkbox" formControlName="agreeToTerms" />
    I agree to the terms
  </label>

  <div formArrayName="additionalCourses">
    <div *ngFor="let ctrl of additionalCourses.controls; let i = index">
      <input [formControl]="$any(ctrl)" />
      <button type="button" (click)="removeCourse(i)">Remove</button>
    </div>
  </div>
  <button type="button" (click)="addCourse()">Add Another Course</button>

  <button type="submit" [disabled]="enrollForm.invalid">Submit</button>
</form>
